/* Write your CSS here */
p {
  color: black;
}

.butt {
  background-color: transparent;
  border-width: 0px;
  outline: none;
  font-family: 'roboto';
  font-size: 20px;
  cursor: pointer;
}

.butt-highlight {
  background-color: transparent;
  color: #0284c7;
  border-color: #0284c7;
  border-radius: 10px;
  font-weight: bold;
  border-width: 1px;
  font-size: 15px;
}
